<div class="popup popup--open">
        <div class="popup__header">
            <div title="Close" class="close layout--center" (click)="closeCommentPopup()">
                X
            </div>
        </div>
        <div class="popup__body layout--center">
            <div class="popup__body-inner">

                <div class="form">
                    <div class="form__title">
                        NEW <span class="highlight">#</span>COMMENT
                    </div>
                    <div class="form__description">
                        Comment with 140 characters.
                    </div>
                    <form name="new-comment">
                        <div class="new-comment">
                            <textarea maxlength="140"></textarea>

                            <div class="loader">
                                <div class="spinner"></div>
                            </div>

                            <div class="form__error">
                                Some fields are missing !
                            </div>

                            <input type="submit" value="COMMENT"/>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div> -->